
  
  .LiveMainContent {
  }
  
  .LiveRow {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
  }
  
  .LiveRow img {
    width: 40%;
    object-fit: cover;
    z-index: 100;
  }
  
  .LiveRow .LiveMainContent {
    width: 60%;
  }
  
  .LiveMainContent h3 {
    font-family: NewAmsterdam;
    font-size: 120px;
    color: #995098;
    line-height: 94px;
  }
  
  .LiveMainContent .paraZeroLiveSection {
    font-family: "29LT Bukra Medium";
    font-size: 18px;
    line-height: 32px;
    color: #000;
    margin-top: 20px;
    width: fit-content;
  }
  .LiveMainContent .paraoneLiveSection {
    font-family: "29LT Bukra Regular";
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin-top: 20px;
    width: fit-content;
  }
  .LiveMainContent .paraTwoLiveSection {
    font-family: "29LT Bukra Regular";
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin-top: 20px;
    width: fit-content;
  }
  
  .LiveParaSection {
    margin-top: 35px;
    position: relative;
    padding-bottom: 140px;
    padding-top: 60px;
  }
  
  .LiveTextBackground {
    position: absolute;
    bottom: 8%;
    left: 0;
    white-space: nowrap;
    width: 200%;
    /* animation: scrollText 20s linear infinite; */
    z-index: 0;
    opacity: 0.05;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation: scrollText 10s linear infinite;
  }
  
  .LiveTextBackground p {
    font-size: 280px;
    font-family: "29LT Bukra SmBd";
    text-transform: uppercase;
    line-height: 250px;
  }
  .scroll-left {
    animation-name: scrollLeftVolunteer;
  }
  
  .scroll-right {
    animation-name: scrollRightVolunteer;
  }
  
  @keyframes scrollLeftVolunteer {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scrollRightVolunteer {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .DootedBannerSectionLive {
    background-image: url("../../../../public/images/doted.png");
  }
  

  
