
.InvestChennaiContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 65px;
  }
  
  .InvestChennaiContent h3 {
    font-family: NewAmsterdam;
    font-size: 120px;
    color: #100f9a;
    line-height: 94px;
  }
  
  .InvestChennaiContent h6 {
    font-family: "29LT Bukra Medium";
    font-size: 18px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    width: 50%;
  }
  
  .InvestChennaiContent p {
    font-family: "29LT Bukra Regular";
    font-size: 18px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin-top: 20px;
    width: 58%;
  }
  

  