
body[data-theme="light"] .payload__app {
    background-color: #0051ca !important; 
  }
  
  body[data-theme="dark"] .payload__app {
    background-color: #0404c5 !important; /
  }
.payload__branding {
    display: none !important;
  }
  