/* ----------Running Text Section----------- */

.CostOflivingBackground {
    position: absolute;
    bottom: 8%;
    left: 0;
    white-space: nowrap;
    width: 200%;
    z-index: 0;
    opacity: 0.025;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation: scrollText 50s linear infinite;
}

.CostOflivingBackground p {
    font-family: "29LT Bukra SmBd";
    text-transform: uppercase;
    font-size: clamp(60px, 22vw, 280px);
    line-height: clamp(80px, 12vw, 150px);
}

.scroll-leftCostofLiving {
    animation-name: scrollLeftInvestPage;
}

.scroll-rightCostofLiving {
    animation-name: scrollRightVolunteer;
}

@keyframes scrollLeftInvestPage {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollRightVolunteer {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* ----------Running Text Section----------- */

/* INTRO BLOCK  */
.visitIntroParaSection.detailIntro {
  padding-bottom: 80px;
  /* margin-bottom: 46px; */
  margin-bottom: 0px;
}
.visitIntroParaSection.detailIntro .workdetailTextBackground {
  bottom: 0;
}
.visitIntroParaSection.detailIntro .workIntro h2 {
  font-family: "NewAmsterdam";
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 10px;
  color: #995098;
}
.visitIntroParaSection.unicorns {
  padding-bottom: 280px;
}
.visitIntroParaSection.unicorns .workdetailTextBackground {
  bottom: 0;
}

 .visitIntroParaSection.detailIntro {
    padding-bottom: 0px;
  }
 .visitIntroParaSection.detailIntro .workIntro h3 {
    font-size: clamp(30px, 4vw, 80px);
  }

    .visitIntroParaSection.detailIntro {
    padding-bottom: 30px;
    margin: 0px;
    padding-top: 35px;
  }
  .workIntro p {
    margin-top: 20px;
  }

  
  .workIntro h3 {
    font-size: clamp(36px, 7vw, 102px);
    line-height: clamp(44px, 9vw, 94px);
  }

/* ------------Resposive----------  */

@media (max-width: 1700px) and (min-width: 1600px) {
  .clcboxItemss .clcboxIImg {
    width: auto;
    height: 100px;
  }
  .visitIntroParaSection.detailIntro {
    padding-bottom: 0px;
  }
}

@media (max-width: 1600px) and (min-width: 1300px) {
  .clcscrlinRBox {
    padding-inline: 3vw 10vw;
  }

  .visitIntroParaSection.detailIntro {
    padding-bottom: 0px;
  }
  .clcboxItemss .clcboxIImg {
    width: auto;
    height: 100px;
  }

  .workIntro h3 {
    font-size: clamp(36px, 7vw, 102px);
    line-height: clamp(44px, 9vw, 94px);
  }

  .imgcontent {
    padding: 140px 5% 0;
  }
}

@media (max-width: 1300px) and (min-width: 1000px) {
  .clcscrlinRBox {
    padding-inline: 3vw 10vw;
  }
  .visitIntroParaSection.detailIntro {
    padding-bottom: 0px;
  }
  .imgcontent {
    padding: 140px 2% 0;
  }

  .imgcolTitle {
    font-size: 15px;
  }
}