

/* VISIT LIST  */
.visitslideOut {
  background-image: linear-gradient(
    to right,
    rgb(25 28 129) 0%,
    rgb(118 60 167) 50%,
    rgb(73 14 117) 90%
  );
  padding: 80px 0;
  margin: 0 0 60px;
  overflow: hidden;
}


.visitslideTop {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 8%;
  margin-bottom: 40px;
}
.visitslideTop h3 {
  font-family: NewAmsterdam;
  color: #fff;
  font-size: clamp(36px, 14vw, 100px);
  line-height: clamp(44px, 9vw, 94px);
}
.visitslideTop p {
  font-family: "29LT Bukra Regular";
  font-size: clamp(14px, 1.6vw, 16px);
  line-height: clamp(22px, 2.5vw, 26px);
  color: #fff;
}

.sliderSection {
  display: flex;
  margin: 0 -12px;
  position: relative;
}
.visitslideImg .slick-slider {
  position: static;
}
.visitslideImg {
  width: 45%;
}
.visitslideImg .slick-slide {
  position: relative;
}
.visitslideImg .slick-slide:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 200px;
  background-image: linear-gradient(to right, transparent, #000 70%);
  top: 0;
  opacity: 0.5;
}

.visitslideImg .slick-slide .titleOut {
  position: absolute;
  right: 0;
  font-size: 100px;
  color: #ffffff;
  opacity: 0.5;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}
.visitslideImg .slick-slide h4 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  /* left: 0; */
  width: 100vh;
  /* top: 26%; */
  display: flex;
  font-weight: 600;
  justify-content: center;
  position: absolute;
  right: -430px;
  text-transform: uppercase;
}
.visitContSlide {
  margin-bottom: 15px;
  padding-left: 65px;
  padding-top: 40px;
  position: relative;
  width: 45%;
}

.visitContSlide .slick-slide img {
  display: none;
}

.visitContSlide .slick-track {
  height: auto !important;
}

.visitContSlide .slick-slide h3 {
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 10px;
  padding: 5px 0;
  position: relative;
  opacity: 0.3;
  font-family: "29LT Bukra SmBd";
  text-transform: uppercase;
}
.visitContSlide .slick-slide p {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.visitContSlide .slick-slide {
  padding: 0 35px;
  position: relative;
}
.visitContSlide .slick-slide.slick-current p {
  display: block;
}
.visitContSlide .slick-slide.slick-current {
  padding: 25px 35px;
  max-width: 80%;
  margin-bottom: 30px;
  position: relative;
}
.visitContSlide .slick-slide.slick-current h3 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -1px;
  opacity: 1;
}
.visitContSlide .slick-slide:before {
  background: #e910ff;
  content: "";
  height: 70%;
  left: -1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.5s ease;
  visibility: hidden;
  width: 6px;
}
.visitContSlide .slick-slide.slick-current:before {
  opacity: 1;
  visibility: visible;
}

.visitContSlide .slick-slide.slick-current h3:after {
  content: "";
  height: 50px;
  right: -1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.5s ease;
  visibility: hidden;
  width: 50px;
  /* background-image: url(images/arrow.svg); */
  background-image: url(../../../../assets/images/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0;
  filter: brightness(0) invert(1);
}
.visitContSlide .slick-slide.slick-current h3:after {
  opacity: 1;
  visibility: visible;
}
.visitContSlide .slick-slide.slick-current:after {
  content: "";
  position: absolute;
  opacity: 1;
  visibility: visible;
  background: #b78ee2;
  width: 100%;
  height: 1px;
  left: 35px;
  bottom: 0;
  opacity: 0.5;
}
.visitContSlide .slick-list {
  height: 100vh;
  border-left: solid 1px #e910ff;
}
.visitslideImg .slick-arrow {
  top: 40%;
  bottom: 14%;
  z-index: 99;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.visitslideImg .slick-arrow:hover {
  opacity: 1;
}

.visitslideImg .slick-prev {
  /* background-image: url(images/icons/LeftArrow-Bg.svg) !important; */
  background-image: url(../../../../assets/images/icons/LeftArrow-Bg.svg) !important;
  background-size: contain !important;
  left: auto;
  right: 50px;
  top: 45%;
}

.visitslideImg .slick-next {
  /* background-image: url(images/icons/RightArrow-Bg.svg) !important; */
  background-image: url(../../../../assets/images/icons/RightArrow-Bg.svg) !important;
  background-size: contain !important;
  right: 50px;
}
.visitslideImg .slick-prev:before,
.visitslideImg .slick-next:before {
  display: none;
}
/* Became a Volunteer  */

@media (max-width: 768px) {
  .visitContSlide {
    display: none;
  }
  .visitslideImg {
    width: 90%;
  }

  .sliderSection {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .visitslideImg .slick-slide h4 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    position: absolute;
    /* left: 0; */
    width: 100%;
    display: flex;
    font-weight: 600;
    justify-content: center;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    bottom: 20px;
  }
  .visitslideImg .slick-slide .titleOut {
    font-size: clamp(30px, 8vw, 100px);
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 1;
  }

  .visitslideImg .slick-arrow {
    top: auto;
    bottom: -50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .visitIntroParaSection {
    padding-top: 0;
    padding-bottom: 100px;
  }

  .visitslideTop p {
    margin-top: 20px;
  }
}
